name: test Python package versions

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup Python # Set Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      # Install pip and pytest
      - name: Install dependencies
        run: |
          make install
      
      # Lint the code
      - name: Lint with pylint
        run: |
          make lint

      # test the code
      - name: Test with pytest
        run: |
          make test
      
      - name: Format code with black
        run: |
          make format